.cart__container {
  display: flex;
  justify-content: end;
  align-items: unset;
  gap: 5px;
  margin: 0px;
  padding: 5px 300px 10px 0px;
}
.cart__icon {
  padding: auto;
  width: 60px;
  border-radius: 40%;
  margin: 0;
}
.cant__amount {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: auto;
}
